<div class="card">
<%= image_tag(meal_recipe.recipe.main_image, class: "card-img-top", style: 'object-fit: cover') %>
  <div class="card-body">
    <p class="card-text"><small class="text-muted"><%= meal_recipe.recipe.name %></small></p>
  </div>
</div>

