

<div class="card">
        <div class="card-body">
            <h3>Add meal:</h3>
            <p class="card-text"><%= render 'meals/form', scope: meal, url: url, method: method %></p>
        </div>
</div>

