

<% meal_and_recipe_array = [] %>    

<% MealRecipe.day(day).each do |mr| %>
  <% meal_and_recipe_array << [mr.meal.time, mr.meal.name, mr.recipe] %>
<% end %>

<% MealWithLeftover.day(day).each do |mwl| %>
  <% meal_and_recipe_array << [mwl.meal.time, mwl.meal.name, mwl.leftover.recipe] %>
<% end %>

<% prev_meal = nil %>

<% meal_and_recipe_array.sort {|a,b| a[0] <=> b[0]}.each do |array| %>

    <% unless array[1] == prev_meal -%>
        </div>
        <div class="row justify-content-center">
          <small class="text-muted"><br><%= array[1] -%></small><br>
        </div>
        <div class="row justify-content-center">
    <% end %>

    <% prev_meal = array[1] %>

    <%= link_to image_tag(array[2].main_image, size: '50', style: 'object-fit: cover; padding:2px', class: 'rounded-circle'), filtered_days_path(:this_date, date: day.date.to_date) -%> 

<% end %>


 