<%= turbo_frame_tag "meal#{meal.id}" do %> 

    <div class="card" style="max-width: 18rem;">
        <div class="card-header">
            <div class="row">
                <div class="col-sm">
                    <h5><%= meal.name %></h5>
                </div>
            </div>
        </div>
    </div>

    <% end %>