

<div class="row" data-masonry='{"percentPosition": true }' style="position: relative; ">




        <% @pins.each do |pin| %>
                <div class="grid-item">
                    <%= link_to pin_image(pin), pin %>
                    
                </div>
        <% end %>



    
  </div>

  <%= link_to "Add Pin", new_pin_path %>