
<div class="card-columns">
        <% @pins.each do |pin| %>
                <div class="card">
                        <%= image_tag pin.pin_image, class: 'card-img', width: 300 %>
                </div>
        <% end %>        
</div>
<br><br><br><br>



  <%= link_to "Add Pin", new_pin_path %>
  