

    <% prev_category = nil %>

    
        <% shopping_list_items.each do |item| %>
          <tr>
          <%= turbo_frame_tag "shopping_list_item-row#{item.id}" do %>   
              
              <th scope="row">  <% unless item.ingredient.ingredient_category == prev_category -%>
                                  <br><h5><%= item.ingredient.ingredient_category.name %></h2>
                                <% end -%></th>
                                <% prev_category = item.ingredient.ingredient_category -%>
          
          <%= render "shopping_list_item", item: item %>
          <% end %>
          </tr>
          <br>
        <% end %>

