<h1>Edit ingredient: <%= @shopping_list_item.ingredient.name %></h1>

<%= turbo_frame_tag "shopping_list_item#{@shopping_list_item.id}" do %>
    <%= render 'form', shopping_list_item: @shopping_list_item %>
<% end %>