
<h1>Shopping list</h1>

<%= link_to "View meal plan", meal_plan_path(@meal_plan), class: 'btn btn-primary' %>

<br><br><br>


<h4>To buy:</h4>
<%= render 'shopping_list_display', shopping_list_items: @shopping_list_items_unticked %>
<%#= render 'shopping_list_display', shopping_list_items: @shopping_list_items %>
<br><br>

<div data-controller="toggle" data-toggle-visible-value="true" 
        data-toggle-hide-text="Hide ticked off items" 
        data-toggle-show-text="Show ticked off items">
    <button type="button" class="btn btn-primary" 
        data-action="click->toggle#showhide"
        data-toggle-target="buttonText">
        Hide completed items
    </button>
    <div data-toggle-target="content">
    <br>
        <h4>Ticked off:</h4>
        <small>
            <%= render 'shopping_list_display', shopping_list_items: @shopping_list_items_ticked %>
        </small>
    </div>
</div>

<br><br>