
<div class="card">
        <div class="card-body">
          <p class="card-text"><%= render 'recipe_ingredients/form', recipe_ingredient: @new_recipe_ingredient, recipe: @recipe %></p>
        </div>
</div>