

<div class="row">
        <div class="card-columns">
                <% recipes.each do |recipe| %>
                        <div class="card">
                        
                                <%= link_to main_image(recipe), recipe, class: 'card-img-top' %>
                                <div class="card-body">
                                    <h5 class="card-title"><%=link_to recipe.name, recipe %></h5>
                                    <p class="card-text"><small class="text-muted">Added <%= time_ago_in_words(recipe.created_at) %> ago by <%= recipe.user.name %></small></p>
                                </div>
                        </div>
                <% end %>        
        </div>
        <br><br><br><br>
 </div>



<%# other card formats: https://getbootstrap.com/docs/4.0/components/card/#sizing. Also see card-column css in application.css.scss file %>