

<div class="row">
        <div class="card-columns">
                <% recipes.each do |recipe| %>
                        <div class="card">
                                <%= link_to ( image_tag recipe.main_image, class: 'card-img-top', width: 300 ), recipe %>
                                <div class="card-body">
                                    <h5 class="card-title"><%=recipe.name%></h5>
                                    <p class="card-text"><small class="text-muted">Added <%= time_ago_in_words(recipe.created_at) %> ago</small></p>
                                </div>
                        </div>
                <% end %>        
        </div>
        <br><br><br><br>
 </div>



<%# other card formats: https://getbootstrap.com/docs/4.0/components/card/#sizing. Also see card-column css in application.css.scss file %>