<div class="page-header">
  <%= link_to "<< All Recipes", recipes_path, class: 'btn btn-default' %>
</div>

<div class="row">
  <div class="col-sm-7">
    <%= render 'method_card', recipe: @recipe %>
  <br>
    
  </div>


  <br><br>
  <div class="col-sm-5">
    <%= render 'ingredients_card', recipe_ingredients: @recipe_ingredients %>
    <br>
    <%= render 'add_recipe_ingredient_card', recipe_ingredient: @new_recipe_ingredient, recipe: @recipe %>
  </div> 
</div>




