


<div class="row">
  <div class="col-sm-6">
    <h1>Ingredients</h1>
  </div>

  <div class="col-sm-6 text-right">
  <%= link_to new_ingredient_path, class: 'btn btn-primary' do %>
    Add New Ingredient
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    
        <th>Name</th>
    

            <th>Ingredient category</th>
            
      </tr>
    </thead>

    <tbody>
      <% @ingredients.each do |ingredient| %>
        <%= content_tag :tr, id: dom_id(ingredient), class: dom_class(ingredient) do %>
          
            <td><%= link_to ingredient.name, ingredient %></td>
          

                      <td><%= ingredient.ingredient_category %></td>
          
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
