


<div class="row">
  <div class="col-sm-6">
    <h1>Ingredient_categories</h1>
  </div>

  <div class="col-sm-6 text-right">
  <%= link_to new_ingredient_category_path, class: 'btn btn-primary' do %>
    Add New Ingredient category
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    
        <th>Name</th>
    

            
      </tr>
    </thead>

    <tbody>
      <% @ingredient_categories.each do |ingredient_category| %>
        <%= content_tag :tr, id: dom_id(ingredient_category), class: dom_class(ingredient_category) do %>
          
            <td><%= link_to ingredient_category.name, ingredient_category %></td>
          

          
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
