


<div class="row">
  <div class="col-sm-6">
    <h1>Recipe_ingredient_groups</h1>
  </div>

  <div class="col-sm-6 text-right">
  <%= link_to new_recipe_recipe_ingredient_group_path, class: 'btn btn-primary' do %>
    Add New Recipe ingredient group
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    
        <th>Name</th>
    
            <th>Recipe</th>
            
      </tr>
    </thead>

    <tbody>
      <% @recipe_ingredient_groups.each do |recipe_ingredient_group| %>
        <%= content_tag :tr, id: dom_id(recipe_ingredient_group), class: dom_class(recipe_ingredient_group) do %>
          
            <td><%= link_to recipe_ingredient_group.name, recipe_recipe_ingredient_group_path(@recipe, recipe_ingredient_group ) %></td>
          

                      <td><%= recipe_ingredient_group.recipe.name %></td>
          
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
