
    <h1>What's on the menu today?</h1>
    
      <% @days.each do |day| %>
          <% day.meals.each do |meal| %>  
            <%= meal.name %>    <br>
            <% meal.meal_recipes.each do |mr| %>    
                  <%= mr.recipe.name %><br>
            <% end %>
          <% end %>
      <% end %>
          
            
          
 